<!DOCTYPE html>

<html lang="en">

<head>
    <title>My Calendar</title>
    <!-- local style  -->
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <!-- responsive inspection  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- jquery  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- local js  -->
    <script type="text/javascript" src="./js/tasks.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='./styles/fullcalendar.css' />
    <script src='./jquery.min.js'></script>
    <script src='./js/moment.min.js'></script>
    <script src='./js/fullcalendar.js'></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet">

</head>

<body>
    <nav>
        <div class="nav-wrapper blue lighten-3">
            <a href="#" class="brand-logo center">My Calendar</a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">New Event</a>
                    
                    <div id="modal1" class="modal">

                        <div class="z-depth-1 grey lighten-4 row" style="color: black" id="modalBox">
                            <form class="col s6">
                               
                                <div class="row modal-form-row">
                                    <div class="input-field col s6">
                                        <input id="title" type="text" class="validate">
                                        <label for="title">Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='input-field col s6'>
                                        <input class='time' type='time' name='time' id='time' />
                                        <label for='time'>time</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input id="description" type="text" class="materialize-textarea validate"></textarea>
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type='submit' name='btn_login' class='col s6 btn btn-medium waves-effect indigo'>Create</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col s9" id="calendar" style="margin-top: 15px;">

            </div>
            <div class="col s2" id="dayAgenda" style="margin-top: 15px; margin-left: 2px;">

            </div>
        </div>
    </div>
    
</body>

</html>