.list-group-item {
  line-height: 2.5;
}

.nav-wrapper {
background: url(../img/bg-pattern.png),linear-gradient(to left,#354e94,#8f94ac);
  font-family: 'Aclonica', sans-serif;
}

body {
background: url(../img/bg-pattern.png),linear-gradient(to left,#354e94,#8f94ac);
display: flex;
min-height: 100vh;
flex-direction: column;
padding-bottom: 0;
}

main {
  flex: 1 0 auto;
}
    
.calendar-panes {
  float: left;
}

#calendar {
  background-color: #f8f8f8;
}

#regContainer {
  max-width: 393px;
  margin: 0 auto;
}
#regForm {
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  border: 1px solid #EEE;
  background-color: #f8f8f8;
}

#loginButton {
  max-width: auto;
  margin: 0 auto;
}

#submitButton {
  color: #eee;
  background-color: #5d5691;
}

#modalBox {
  color: black;
  max-width: 750px;
  margin: 0 auto;
}

#dayAgenda {
  background-color: #f5f5f5;
}

a.regButton {
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.loginButton {
  color: white;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
}



#loginForm {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #EEE;
  background-color: #f8f8f8;
}

div.z-depth-1.grey.lighten-4.row {
  max-width: 530px;
  margin: 0 auto;
}

#calendarimg {
  display: block;
  text-align: center;
}

#icon {
  display: block;
  text-align: center;
}

.btn, .btn-large {
  text-decoration: none;
  color: rgb(43, 33, 104);
  background-color: #d8e7e5;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;
}

.btn:hover{
  background-color: #455de2;
  color: #fff;
}
